<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
  <title>Title</title>
</head>
<body>
<%-include ../publish/publish%>

<form action="/show/edit/save" method="post" enctype="multipart/form-data">
  <input type="hidden" name="uid" value="<%=data[0]._id%>">
  上传头像<input type="file" name="image"><br>
  用户名：<input type="text" name="username" placeholder="请输入用户名"  value="<%=data[0].username%>"/><br/>
    密码：<input type="password" name="password" placeholder="请输入密码" value="<%=data[0].password%>"><br/>
  姓名：<input type="text" name="name" placeholder="请输入姓名" value="<%=data[0].name%>"/><br/>
  年龄：<input type="text" name="age" placeholder="请输入年龄" value="<%=data[0].age%>"/><br/>
  <button type="submit">修改</button>
</form>
</body>
</html>